@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background: url('../imagenes/airplane-7429725_1920.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* Fondo translúcido tipo glassmorphism */
#fondo-blanco {
  background-color: rgba(255, 255, 255, 0.3); /* Transparente */
  padding: 2rem;
  border-radius: 10px;
  
}

/* Título grande */
h1 {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  color: #000;
}
